#Header {
  background-color: rgb(175, 175, 175);
}
#Header .nav-bar {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  position: absolute;
  top: 3%;
  z-index: 2;
  width: 1200px;
}
#Header .nav-bar .logo {
  height: auto;
}
#Header .nav-bar .nav-bar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#Header .nav-bar .nav-bar-menu .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#Header .nav-bar .nav-bar-menu .nav li a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 0;
  text-transform: capitalize;
  background: transparent;
}
#Header .nav-bar .nav-bar-menu .nav li a::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease-in-out;
}
#Header .nav-bar .nav-bar-menu .nav li a:hover::after {
  width: 100%;
}
#Header .nav-bar .nav-bar-menu .search-post {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#Header .nav-bar .nav-bar-menu .search-post .search {
  width: 42px;
  height: 42px;
  font-size: 14px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}
#Header .nav-bar .nav-bar-menu .search-post .search:hover {
  color: var(--navi-blue-400);
  background-color: white;
}
#Header .nav-bar .nav-bar-menu .search-post .post {
  color: white;
  background-color: var(--navi-blue-200);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  width: 165px;
  height: 50px;
  text-transform: uppercase;
}
#Header .nav-bar .nav-bar-menu .search-post .post:hover {
  background-color: var(--navi-blue-400);
}

#Footer {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1096%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1097)'%3e%3c/rect%3e%3cpath d='M1440 0L1004.85 0L1440 13.55z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1004.85 0L1440 13.55L1440 182.89000000000001L524.09 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M524.09 0L1440 182.89000000000001L1440 319.21000000000004L478.65000000000003 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M478.6500000000001 0L1440 319.21000000000004L1440 356.86L172.7500000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L239.66 560L0 415.35z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 415.35L239.66 560L800.62 560L0 352.09000000000003z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 352.09000000000003L800.62 560L1065.12 560L0 347.19000000000005z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 347.19L1065.12 560L1280.07 560L0 343.32z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1096'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1097'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 25%2c 57%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: cover;
}
#Footer .title-footer {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: white;
  font-family: var(--Mont);
}
#Footer .footer-head {
  padding-top: 70px;
  display: flex;
  border-bottom: 1px solid white;
}
#Footer .footer-head .contact {
  width: 35%;
  padding-right: 10px;
}
#Footer .footer-head .contact .logo {
  height: auto;
}
#Footer .footer-head .contact .desc {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  font-family: var(--Mont);
  line-height: 1.5rem;
}
#Footer .footer-head .contact .button {
  display: block;
  margin-top: 40px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--Mont);
  color: white;
}
#Footer .footer-head .contact .line {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: white;
}
#Footer .footer-head .contact .social-group {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
#Footer .footer-head .contact .social-group i {
  color: white;
  font-size: 20px;
}
#Footer .footer-head .employee {
  width: 20%;
  padding: 10px;
}
#Footer .footer-head .candidate {
  width: 20%;
  padding: 10px;
}
#Footer .footer-head .contact-us {
  width: 25%;
  padding: 10px;
}
#Footer .footer-head .items {
  margin-top: 70px;
}
#Footer .footer-head .items li {
  margin-bottom: 20px;
}
#Footer .footer-head .items li i {
  color: skyblue;
}
#Footer .footer-head .items li a {
  display: flex;
  gap: 10px;
  font-family: var(--Lato);
  text-decoration: none;
  color: white;
}
#Footer .coppyright {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--Mont);
  color: white;
}
#Footer .coppyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#Footer .coppyright .policy {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Footer .coppyright .policy .vertical-line {
  margin: 0 20px;
  width: 1px;
  height: 20px;
  background-color: white;
}/*# sourceMappingURL=common.css.map */