@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}

:root {
    --Mont: "Montserrat", sans-serif;
    --Lato: 'Lato';
    --Pops: 'Poppins';
    --Yan: 'Yantramanav';
    --White: #ffffff;
    --Secondary-color: #f5f5f5;
    --Gray-300: #e5e5e5;
    --navi-blue-200: #184A7E;
    --navi-blue-400: #0F3264;

}

.box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.display-block {
    display: block;
}

.display-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.display-flex-1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.display-flex-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.width-100 {
    width: 100%;
}

.job-item {
    margin-top: 1rem;
    width: 49%;
    border: 1px solid var(--Gray-300);
    font-family: var(--Lato);
    background-color: white;
    border-radius: 8px;

    &:hover {
        border: 1px solid var(--navi-blue-400);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        .tags {
            background-color: var(--navi-blue-400);

            i,
            a,
            p {
                color: white;
            }

        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    .head-item {
        padding: 40px 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            width: 115px;
            height: 115px;
        }
    }

    .info {
        width: 40%;
        font-size: 14px;

        .job {
            margin-top: 10px;
            font-family: var(--Pops);
            font-weight: 400;

            a:hover {
                color: var(--navi-blue-400);
            }
        }

        .company {
            margin-top: 1rem;

            a {
                font-family: var(--Yan);
                color: var(--navi-blue-400);
            }
        }

        .salary {
            margin-top: 1rem;
            color: var(--navi-blue-200);

            span {
                font-family: var(--Lato);
                color: black;
                font-weight: 600;
            }
        }



        .location {
            margin-top: 1rem;
            font-family: var(--Lato);

            i {
                font-size: 14px;
                color: var(--navi-blue-200);
            }

            span {
                font-family: var(--Lato);
                color: black;
                font-weight: 400;
            }
        }
    }

    .button-function {
        gap: 10px;
        text-transform: uppercase;
        font-family: var(--Lato);
        text-align: center;
        display: flex;
        justify-content: end;

        a {
            align-self: center;
            color: white;
        }

        .heart-button {
            color: var(--navi-blue-200);
            width: 32px;
            height: 32px;
            border-radius: 4px;
            border: 1px solid var(--navi-blue-200);

            &:hover {
                background-color: var(--navi-blue-400);
                color: white;
            }
        }

        .apply-position {
            width: 60%;
            justify-content: right;

            .job-position {
                background-color: black;
                color: white;
                padding: 10px 20px;
                border-radius: 8px;
            }

            .apply-button {
                background-color: var(--navi-blue-200);
                color: white;
                padding: 10px 20px;
                border-radius: 8px;
            }
        }

    }

    .tags {
        i {
            color: var(--navi-blue-400);
        }

        gap: 10px;
        padding: 20px 20px;
        background-color: var(--Secondary-color);
        border-radius: 0 0 7px 7px;
    }
}

.title {
    font-family: var(--Mont);
    font-size: 20px;
    font-weight: 700;
    position: relative;
    padding: 0 0 14px;
    text-transform: uppercase;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: -webkit-center;
}

@media only screen and (max-width: 1366px) {
    .box {
        padding: 0 20px;
        max-width: 100%;
    }
}
    
@media only screen and (max-width: 1200px) {
    .box {
        padding: 0 20px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 992px) {
    .box {
        padding: 0 20px;
        max-width: 100%;
    }
    .job-item{
        .head-item {
            padding: 20px 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 10px;
            img {
                width: 120px;
                height: auto;
            }
        }
    
        .info {
            width: 70%;
        }
    
        .button-function {
            margin-top: 10px;
            gap: 10px;
            display: flex;
            justify-content: center;
            .apply-position {
                width: 85%;
                justify-content: right;
                display: flex;
            }
    
        }
    
        .tags {
            i {
                color: var(--navi-blue-400);
            }
    
            gap: 10px;
            padding: 20px 20px;
            background-color: var(--Secondary-color);
            border-radius: 0 0 7px 7px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .box {
        padding: 0 20px;
        max-width: 100%;
    }
    .job-item{
        .head-item {
            text-align: center;
            padding: 20px 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            img {
                width: 120px;
                height: auto;
            }
        }
    
        .info {
            width: 70%;
            .salary, .location {
                place-content: center;
            }

        }
    
        .button-function {
            margin-top: 10px;
            gap: 10px;
            display: flex;
            justify-content: center;
            
            .apply-position {
                width: 85%;
                justify-content: right;
                display: flex;
            }
    
        }
    
        .tags {
            i {
                color: var(--navi-blue-400);
            }
    
            gap: 10px;
            padding: 20px 20px;
            background-color: var(--Secondary-color);
            border-radius: 0 0 7px 7px;
        }
    }
}




@media only screen and (max-width: 600px) {
    .box {
        padding: 0 20px;
        max-width: 100%;
    }
    .job-item {
        margin-top: 1rem;
        width: 100%;
        
        .head-item {
            text-align: left !important;
            gap: 0 !important;
            padding: 20px 10px;
            display: flex;
            flex-wrap: wrap ;
            align-items: center;
            justify-content: center;
            img {
                width: 120px ;
                height: auto;
            }
        }
    
        .info {
            width: 70% ;
            .salary, .location{
                place-content: flex-start !important;
            }
        }
    
        .button-function {
            margin-top: 10px;
            gap: 10px;
            display: flex;
            justify-content: center;
            
            .apply-position {
                width: 85%;
                justify-content: right;
                display: flex;
            }
    
        }
    
        .tags {
            i {
                color: var(--navi-blue-400);
            }
    
            gap: 10px;
            padding: 20px 20px;
            background-color: var(--Secondary-color);
            border-radius: 0 0 7px 7px;
        }
    }
}


