@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}

:root {
    --Mont: "Montserrat", sans-serif;
    --Lato: 'Lato';
    --Pops: 'Poppins';
    --Yan: 'Yantramanav';
    --White: #ffffff;
    --Secondary-color: #f5f5f5;
    --Gray-300: #e5e5e5;
    --navi-blue-200: #184A7E;
    --navi-blue-400: #0F3264;
}

.box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.display-block {
    display: block;
}

.display-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.display-flex-1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.display-flex-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.width-100 {
    width: 100%;
}

.job-item {
    margin-top: 1rem;
    width: 49%;
    border: 1px solid var(--Gray-300);
    font-family: var(--Lato);
    background-color: white;
    border-radius: 8px;

    &:hover {
        border: 1px solid var(--navi-blue-400);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        .tags {
            background-color: var(--navi-blue-400);

            i,
            a,
            p {
                color: white;
            }

        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    .head-item {
        padding: 40px 20px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;

        img {
            border-radius: 8px;
            object-fit: cover;
            width: 115px;
            height: 115px;
        }
    }

    .info {
        font-size: 14px;
        width: 40%;

        .job {
            margin-top: 10px;
            font-family: var(--Pops);
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            a:hover {
                color: var(--navi-blue-400);
            }
        }

        .company {
            margin-top: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;

            a {
                font-family: var(--Yan);
                color: var(--navi-blue-400);

                white-space: nowrap;
            }
        }

        .salary {
            margin-top: 1rem;
            color: var(--navi-blue-200);

            span {
                font-family: var(--Lato);
                color: black;
                font-weight: 600;
            }
        }


        .location {
            margin-top: 1rem;
            font-family: var(--Lato);

            i {
                font-size: 14px;
                color: var(--navi-blue-200);
            }

            span {
                font-family: var(--Lato);
                color: black;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .button-function {
        width: 37%;
        height: 100%;
        text-transform: uppercase;
        font-family: var(--Lato);
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        a {
            align-self: center;
            color: white;
        }

        .favorite {
            .heart-button {
                color: var(--navi-blue-200);
                width: 32px;
                height: 32px;
                border-radius: 4px;
                border: 1px solid var(--navi-blue-200);

                &:hover {
                    background-color: var(--navi-blue-400);
                    color: white;
                }
            }
        }


        .apply-position {
            justify-content: right;
            height: auto;

            .job-position {
                background-color: black;
                color: white;
                padding: 10px 10px;
                border-radius: 8px;
            }

            .apply-button {
                background-color: var(--navi-blue-200);
                color: white;
                padding: 10px 10px;
                border-radius: 8px;
            }
        }

    }

    .tags {
        i {
            color: var(--navi-blue-400);
        }

        width: 100%;
        gap: 10px;
        padding: 20px 20px;
        background-color: var(--Secondary-color);
        border-radius: 0 0 7px 7px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.title {
    font-family: var(--Mont);
    font-size: 20px;
    font-weight: 700;
    position: relative;
    padding: 0 0 14px;
    text-transform: uppercase;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: -webkit-center;
}

.newsletter {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M -194.32398223488906%2c67 C -98.32%2c150 93.68%2c450.4 285.67601776511094%2c482 C 477.68%2c513.6 573.68%2c239.6 765.6760177651109%2c225 C 957.68%2c210.4 1053.68%2c420.8 1245.6760177651108%2c409 C 1437.68%2c397.2 1686.81%2c187 1725.6760177651108%2c166 C 1764.54%2c145 1497.14%2c276.4 1440%2c304' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -597.0235619835445%2c474 C -501.02%2c406.6 -309.02%2c138.8 -117.02356198354448%2c137 C 74.98%2c135.2 170.98%2c468.8 362.9764380164555%2c465 C 554.98%2c461.2 650.98%2c123.6 842.9764380164555%2c118 C 1034.98%2c112.4 1203.57%2c411.4 1322.9764380164556%2c437 C 1442.38%2c462.6 1416.6%2c284.2 1440%2c246' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -259.3621336877635%2c282 C -163.36%2c263 28.64%2c153.4 220.63786631223647%2c187 C 412.64%2c220.6 508.64%2c445.2 700.6378663122365%2c450 C 892.64%2c454.8 988.64%2c201.8 1180.6378663122364%2c211 C 1372.64%2c220.2 1608.77%2c496.6 1660.6378663122364%2c496 C 1712.51%2c495.4 1484.13%2c265.6 1440%2c208' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -425.0941063271559%2c335 C -329.09%2c284 -137.09%2c71.2 54.90589367284411%2c80 C 246.91%2c88.8 342.91%2c367 534.9058936728441%2c379 C 726.91%2c391 822.91%2c142.6 1014.9058936728441%2c140 C 1206.91%2c137.4 1409.89%2c358.4 1494.905893672844%2c366 C 1579.92%2c373.6 1450.98%2c215.6 1440%2c178' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    border-bottom: 4px solid var(--navi-blue-200);
    border-top: 4px solid var(--navi-blue-200);

    .content {
        padding: 60px 0;
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;

        .title-newsletter {
            width: 50%;
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 30px;
            line-height: 1.25;
            font-weight: 400;
            font-family: var(--Lato);
        }

        form {
            width: 50%;
            display: flex;
            gap: 20px;

            .email {
                border: none;
                border-radius: 8px;
                outline: none;
                width: 100%;
                padding: 5px 10px 5px 10px;
            }

            button {
                border: none;
                outline: none;
                width: 150px;
                padding: 12px 20px;
                border-radius: 8px;
                background-color: var(--navi-blue-200);
                color: white;
                font-size: 14px;
                font-family: var(--Pops);
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .box {
        padding: 0 20px;
        max-width: 100%;
    }
    .newsletter {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .box {
        padding: 0 20px;
        max-width: 100%;
    }

    .job-item {
        .head-item {
            padding: 20px 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 10px;

            img {
                width: 120px;
                height: auto;
            }
        }

        .info {
            width: 70%;
        }

        .button-function {
            margin-top: 10px;
            gap: 10px;
            display: flex;
            justify-content: center;
            width: 100%;

            .apply-position {
                justify-content: right;
                display: flex;

                .job-position {
                    background-color: black;
                    color: white;
                    padding: 10px 10px;
                    border-radius: 8px;
                }

                .apply-button {
                    background-color: var(--navi-blue-200);
                    color: white;
                    padding: 10px 10px;
                    border-radius: 8px;
                }
            }

        }

        .tags {
            i {
                color: var(--navi-blue-400);
            }

            gap: 10px;
            padding: 20px 20px;
            background-color: var(--Secondary-color);
            border-radius: 0 0 7px 7px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .box {
        padding: 0 20px;
        max-width: 100%;
    }

    .job-item {
        .head-item {
            padding: 20px 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 10px;

            img {
                width: 120px;
                height: auto;
            }
        }

        .info {
            width: 70%;
        }

        .button-function {
            margin-top: 10px;
            gap: 10px;
            display: flex;
            justify-content: center;
            width: 100%;

            .apply-position {
                justify-content: right;
                display: flex;
            }

        }

        .tags {
            i {
                color: var(--navi-blue-400);
            }

            gap: 10px;
            padding: 20px 20px;
            background-color: var(--Secondary-color);
            border-radius: 0 0 7px 7px;
        }
    }
    .newsletter {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 768px) {
    .box {
        padding: 0 20px;
        max-width: 100%;
    }

    .job-item {
        .head-item {
            text-align: center;
            padding: 20px 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            img {
                width: 120px;
                height: auto;
            }
        }

        .info {
            width: 70%;

            .salary,
            .location {
                place-content: center;
            }

        }

        .button-function {
            margin-top: 10px;
            gap: 10px;
            display: flex;
            justify-content: center;

            .apply-position {
                justify-content: right;
                display: flex;
            }

        }

        .tags {
            i {
                color: var(--navi-blue-400);
            }

            gap: 10px;
            padding: 20px 20px;
            background-color: var(--Secondary-color);
            border-radius: 0 0 7px 7px;
        }
    }

    .newsletter {
        padding: 0 20px;

        .title-newsletter {
            p {
                font-size: 24px;
            }
        }
        form{
            button{
                padding: 5px 10px;
            }
        }
    }

    
}

@media only screen and (max-width: 600px) {
    .box {
        padding: 0 20px;
        max-width: 100%;
    }

    .job-item {
        margin-top: 1rem;
        width: 100%;

        .head-item {
            text-align: left !important;
            padding: 20px 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            img {
                width: 120px;
                height: auto;
            }
        }

        .info {
            width: 70%;

            .salary,
            .location {
                place-content: flex-start !important;
            }
        }

        .button-function {
            margin-top: 10px;
            gap: 10px;
            display: flex;
            justify-content: center;

            .apply-position {
                justify-content: right;
                display: flex;
            }

        }

        .tags {
            i {
                color: var(--navi-blue-400);
            }

            gap: 10px;
            padding: 20px 20px;
            background-color: var(--Secondary-color);
            border-radius: 0 0 7px 7px;
        }
    }

    .newsletter {
        .content {
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px 0;

            .title-newsletter {
                justify-content: center;
                width: 100%;
                font-size: 30px;
                line-height: 1.25;
                font-weight: 400;
            }

            form {
                button{
                    padding: 5px 10px ;
                }
                margin: 20px 40px;
                width: 100%;
            }
        }
    }
}