#Content .main-content .box {
  display: flex;
  gap: 1%;
}
#Content .main-content .box .job-details {
  width: 70%;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
#Content .main-content .box .job-details .content-item {
  padding: 50px;
  padding-bottom: 0;
}
#Content .main-content .box .job-details .content-item .title::after {
  content: "";
  display: block;
  width: 5%;
  height: 2px;
  background-color: var(--navi-blue-200);
  margin-top: 10px;
}
#Content .main-content .box .job-details .content-item .paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
  color: #797979;
  overflow-x: hidden;
  font-family: var(--Yan);
}
#Content .main-content .box .job-details .content-item .paragraph i {
  color: var(--navi-blue-200);
  margin-right: 10px;
}
#Content .main-content .box .job-details .content-item .paragraph video {
  border-radius: 10px;
  width: 100%;
}
#Content .main-content .box .job-details .social {
  margin-top: 40px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
}
#Content .main-content .box .job-details .social .title {
  padding: 0;
  font-size: 16px;
}
#Content .main-content .box .job-details .social .list-social {
  display: flex;
  gap: 20px;
  align-items: center;
}
#Content .main-content .box .job-details .social .list-social a {
  color: var(--navi-blue-200);
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
#Content .main-content .box .job-details .social .list-social a:hover {
  color: var(--navi-blue-500);
}
#Content .main-content .box .job-details .tags {
  width: 100%;
  gap: 10px;
  padding: 30px 40px;
  background-color: var(--Secondary-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#Content .main-content .box .job-details .tags i {
  color: var(--navi-blue-400);
}
#Content .main-content .box .job-details .tags a {
  text-decoration: none;
  color: black;
}
#Content .main-content .box .job-overview {
  width: 29%;
}
#Content .main-content .box .job-overview .head {
  padding: 15px 20px;
  background-color: var(--navi-blue-200);
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
#Content .main-content .box .job-overview .head p {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--Mont);
  color: white;
}
#Content .main-content .box .job-overview .content {
  background-color: white;
  border-radius: 0 0 8px 8px;
  border-bottom: 2px solid var(--navi-blue-200);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
#Content .main-content .box .job-overview .content .info {
  padding: 20px;
  text-align: -webkit-center;
}
#Content .main-content .box .job-overview .content .info .logo {
  margin-bottom: 20px;
}
#Content .main-content .box .job-overview .content .info .name-job {
  font-size: 16px;
  font-family: var(--Lato);
  font-weight: 600;
  margin-bottom: 10px;
}
#Content .main-content .box .job-overview .content .info .company-name {
  font-size: 16px;
  font-family: var(--Lato);
  font-weight: 400;
  margin-bottom: 10px;
}
#Content .main-content .box .job-overview .content .info .function {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#Content .main-content .box .job-overview .content .info .function .heart {
  color: var(--navi-blue-200);
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid var(--navi-blue-200);
  cursor: pointer;
}
#Content .main-content .box .job-overview .content .info .function .heart:hover {
  background-color: var(--navi-blue-400);
  color: white;
}
#Content .main-content .box .job-overview .content .info .function .job-type {
  background-color: black;
  color: white;
  height: 32px;
  padding: 0 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
#Content .main-content .box .job-overview .content .info .function .job-type a {
  color: white;
  font-size: 14px;
  font-family: var(--Mont);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
#Content .main-content .box .job-overview .content .job-view {
  border-top: 1px solid var(--navi-blue-200);
  padding: 30px;
}
#Content .main-content .box .job-overview .content .job-view .item {
  margin-bottom: 20px;
}
#Content .main-content .box .job-overview .content .job-view .item .title {
  font-size: 14px;
  color: var(--navi-blue-400);
}
#Content .main-content .box .job-overview .content .job-view .item .title i {
  width: 20px;
  font-size: 14px;
  color: var(--navi-blue-200);
}
#Content .main-content .box .job-overview .content .job-view .item .value {
  line-height: 1.2;
  margin-left: 20px;
  font-family: var(--Lato);
  font-size: 16px;
  color: black;
  letter-spacing: 0.5px;
}
#Content .main-content .box .job-overview .content .apply {
  padding: 0 20px 20px 20px;
}
#Content .main-content .box .job-overview .content .apply .apply-button {
  margin-top: 0;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--Mont);
  color: white;
  line-height: 1.72;
  border-radius: 12px;
  border: none;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--navi-blue-200);
  width: 100%;
}
#Content .main-content .box .job-overview .content .apply .apply-button:hover {
  background-color: var(--navi-blue-400);
}

@media screen and (max-width: 600px) {
  #Content .main-content .box {
    display: block;
  }
  #Content .main-content .box .job-details {
    width: 100%;
  }
  #Content .main-content .box .job-overview {
    width: 100%;
    margin-top: 20px;
  }
  #Content .main-content .box .job-overview .head {
    padding: 15px 40px;
  }
  #Content .main-content .box .job-overview .content {
    padding: 0 30px;
  }
  #Content .main-content .box .job-overview .content .apply {
    padding: 0 30px 20px 30px;
  }
}
@media screen and (max-width: 768px) {
  #Content .main-content .box {
    display: block;
  }
  #Content .main-content .box .job-details {
    width: 100%;
  }
  #Content .main-content .box .job-overview {
    width: 100%;
    margin-top: 20px;
  }
  #Content .main-content .box .job-overview .head {
    padding: 15px 40px;
  }
  #Content .main-content .box .job-overview .content {
    padding: 0 30px;
  }
  #Content .main-content .box .job-overview .content .apply {
    padding: 0 30px 20px 30px;
  }
}
@media screen and (max-width: 992px) {
  #Content .main-content .box {
    display: block;
  }
  #Content .main-content .box .job-details {
    width: 100%;
  }
  #Content .main-content .box .job-overview {
    width: 100%;
    margin-top: 20px;
  }
  #Content .main-content .box .job-overview .head {
    padding: 15px 40px;
  }
  #Content .main-content .box .job-overview .content {
    padding: 0 30px;
  }
  #Content .main-content .box .job-overview .content .apply {
    padding: 0 30px 20px 30px;
  }
}/*# sourceMappingURL=single-job.css.map */